version: "3.9"

services:
  sam-3d-app:
    image: nathanielpowers/arvr-3d-gen:v1
    # If building locally, you can use 'build: .' instead of image
    # build:
    #   context: .
    #   dockerfile: Dockerfile.sam3
    #   args:
    #     HF_TOKEN: ${HF_TOKEN}
    ports:
      - "8000:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    env_file:
      - .env
    volumes:
      # Map these to see the outputs on host machine
      - ./assets:/app/assets
      - ./tasks:/app/tasks
      - ./temp:/app/temp
    environment:
      - HF_TOKEN=${HF_TOKEN}