# --- Core Utils (Unpinned or Relaxed) ---
astor
async-timeout
autoflake
av
bitsandbytes
black
colorama
conda-pack
crcmod
dataclasses
decord
deprecation
easydict
einops-exts
exceptiongroup
fastavro
fasteners
flake8
Flask
fqdn
ftfy
fvcore
gdown
h5py
hdfs
httplib2
hydra-core
hydra-submitit-launcher
igraph
imath
isoduration
jsonlines
jsonpickle
jsonpointer
jupyter
librosa
lightning
loguru
mosaicml-streaming
objsize
open3d
opencv-python
OpenEXR
optimum
optree
orjson
panda3d-gltf
pdoc3
peft
pip-system-certs
point-cloud-utils
polyscope
pycocotools
pydot
pymeshfix
pymongo
pyrender
PySocks
pytest
python-pycg
randomname
roma
rootutils
Rtree
sagemaker
scikit-image
sentence-transformers
simplejson
smplx
tensorboard
tomli
uri-template
usort
wandb
webcolors
webdataset
Werkzeug
xatlas
xformers

# --- Inference & Dev ---
seaborn
gradio
pipdeptree
lovely_tensors

# --- Critical Overrides ---
# SAM 3 requires newer timm than SAM 3D. We use the newer one.
timm>=1.0.17
# We use spconv-cu120 because it is compatible with CUDA 12.x
spconv-cu120